.header {
  background: var(--off-white, #ebf0f9);
}

/* title section */
.title {
  background: var(--off-white, #ebf0f9);
  height: 58rem;
}

.title__card {
  width: 100%;
  max-width: 48.5rem;
  margin-left: 100px;
  padding-top: 9.8rem;
}
.title__card2 {
  margin-left: 68rem;
  margin-top: -25rem;
}
.title__p {
  color: var(--primary-text, #1d2130);
  font-family: Roboto;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-bottom: 3.2rem;
}
.title__title {
  color: var(--b, #1d2130);
  width: 48.5rem;
  font-family: Roboto;
  font-size: 5.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 6.7rem;
  padding-bottom: 1.6rem;
  position: relative;
}
.title__title::before {
  content: "";
  width: 100%;
  max-width: 76px;
  height: 1px;
  display: block;
  background-color: var(--primary-text);
  position: absolute;
  top: -42px;
  left: -100px;
}

.title__parogrof {
  color: var(--b, #1d2130);
  width: 48.5rem;
  font-family: Roboto;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem;
}

.title__text1 {
  color: var(--primary-text, #1d2130);
  font-family: Roboto;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.8rem;
  padding-bottom: 10px;
}
.title__child {
  display: flex;
  gap: 3.2rem;
  /* padding-top: 3.2rem; */
  padding-bottom: 4.8rem;
}
.title__text3 {
  color: var(--primary-text, #1d2130);
  font-family: Roboto;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.title__text2 {
  color: var(--secondary-text, #525560);
  font-family: Roboto;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem;
}
.title__img {
  display: flex;
  gap: 2rem;
  padding-top: 3.2rem;
}
/* title end */

/* form */
.form {
  height: 63rem;
}
.form__wrapper {
  padding-top: 9.6rem;
  width: 100%;
  max-width: 768px;
  margin: auto;
}

.form__globalcard {
  display: flex;
  flex-direction: column;
}
.form__p1 {
  color: var(--primary-text, #1d2130);
  font-family: Roboto;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.9rem;
  padding-bottom: 8px;
}
.form__p2 {
  color: var(--primary-text, #1d2130);
  font-family: Roboto;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem;
  padding-bottom: 3.6rem;
}

.form__global2 {
  position: relative;
}
.form__card3 {
  position: absolute;
  left: 340px;
  top: -204px;
}
.form__card4 {
  position: absolute;
  left: 340px;
  top: -88px;
}
input {
  width: 768px;
  height: 156px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid var(--border, #e5e5e5);
  text-align: left;
}

.form__p2::after {
  content: "";
  width: 100%;
  width: 300px;
  height: 1px;
  background: #e5e5e5;
  display: block;
}
.form__card4::after {
  content: "";
  width: 100%;
  width: 420px;
  height: 1px;
  background: #e5e5e5;
  display: block;
}
.form__p3::after {
  content: "";
  width: 100%;
  width: 420px;
  height: 1px;
  background: #e5e5e5;
  display: block;
}

.form__button {
  color: #fff;
  text-align: right;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: inline-flex;
  padding: 16px 32px;

  border-radius: 4px;
  background: var(--green-primary, #70c174);
  backdrop-filter: blur(40px);
  margin-top: 3.2rem;
  margin-left: 300px;
  display: inline-block;
  transition: 0.3s;
}
.form__button:hover {
  background-color: rgba(35, 178, 85, 0.613);
}

/* form end */
